* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 25px 250px 25px 250px;
    padding: 50px 50px 50px 50px;
    background-color:#051622;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-geneator {
    padding: 45px;
    background-color: #1ba098;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

.password-geneator div {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.password{
    min-width: 300px;
    background-color: #e1e2e2;
    color: #051622;
}

.password p{
    padding: 6px 10px;
}

.password i {
    background-color: rgba(0, 0, 0, 0.575);
    padding: 10px 15px;
}

.password-geneator button {
    width: 100%;
    border: none;
    color: black;
    background-color: #deb992;
    padding: 10px;
}